{% extends 'base2.html' %}

{% block content %}
<!-- html-code for Login form HERE --->
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-center" style="width: 100%; max-width: 900px;">
        <form method="POST" class="form-register" style="color:black">
            {{ form.hidden_tag() }}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Please, log in
            </h1>
            <br>
            {{ form.username_or_email.label() }}
            {{ form.username_or_email(class="form-control", placeholder="username/email") }}
            <br>

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="password") }}
            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary mt-3") }}
        </form>
        <p></p>
        <div class="mt-5 mb-4">
               <h6>Do not have an account?</h6>
               <a class="btn btn-lg btn-outline-secondary mt-2" href="{{ url_for('auth.register_page') }}">Register</a>
        </div>
        <div class="mt-5">
            <a class="btn btn-warning w-50 w-md-25" href="{{ url_for('auth.reset_psw_request') }}">Forgot your password?</a>
        </div>
    </div>
</div>
{% endblock %}
