{% extends 'base2.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="text-center" style="width: 100%; max-width: 900px;">
        <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
            {{ form.hidden_tag() }}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
            Reset account password
            </h1>
            <br>
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="email") }}
            <br>
            {{ form.new_password1.label() }}
            {{ form.new_password1(class="form-control", placeholder="Password") }}
            <br>
            {{ form.new_password2.label() }}
            {{ form.new_password2(class="form-control", placeholder="Confirm password") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}

