html, body{
  height: 100%;
}

body{
  min-width: 320px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main.main {
  flex: 1 1 auto;
}

.category-img-size {
  width: 160px;
  height: 160px;
}

.background-image {
  background-image: url('../img/bg/bg_4.jpg');
  background-position: center;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
  color: black;
}

.background-image .content {
  margin-bottom: 30px;
  }

.background-image .finder {
  margin-bottom: 30px;
}

.background-image .search-form {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.background-image .bottom-content {
  padding-top: 20px;
}

.background-image .bottom-content a {
  color: #bd1a9a;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .background-image {
  padding: 40px 10px;
  }
}

section {
    padding: 20px 0;
}


.item {
  background-color: transparent;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item img.card-img-top {
  border-radius: 5%;
}

.card{
  background-color: rgb(222, 244, 252, 0);
  border-radius: 5%;
  transition: all .3s;
}

.card:hover {
  box-shadow:0 15px 30px -10px rgba(0, 0, 0, .5);
}

.horizontal-card{
  border-radius: 7px;
}

.card-body a{
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}